.list_main_container{
    margin-top: 25px;
    
}

.list_header{
    display: flex;
    align-items: center;
    height: 50px;
    background-color: white;
    width: 100%;
    justify-content: space-between;
    padding: 5px;
}

.list_header h1{
    font-weight: 500;
    margin-left: 10px;
}

.list_header button{
    background: rgb(144, 155, 237);
    color: white;
    padding: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}


.input_container{
    display: flex;
    align-items: center;
    height: 45px;
     background-color: whitesmoke; 
    width: 100%;
    justify-content: space-between;
    padding: 5px;
    margin-top: 15px;
    border-radius: 5px;
}

.input_container input{
    border: none;
    outline: none;
    border-radius: 5px;
    height: 25px;
    width: 97%;
    color: rgb(144, 155, 237);
}

.input_container i{
    background: rgb(144, 155, 237);
    padding: 10px;
    border-radius: 5px;
    color: white;
}