.nav{
    height: 65px;
    background: rgb(144, 155, 237);
    /* overflow-x: auto; */
    text-align: center;
    margin: 0;
    padding: 0;
    /* position: relative; */
   
  }

.nav_container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}


.nav_container a{
  margin-right: 20px;
  color: white;
  display: flex;
}

.nav_container p{
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  margin-right: 20px;
}

.icon_container{
background-color: white;
border-radius: 50%;
padding: 8px;
margin-top: 7px;
margin-right: 20px;
}

.icon_container i{
  font-size: 25px;
  border-radius: 50%;
}