.uommodal {
    width: 50%;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    border-radius: 20px;
    margin-top: 20px;
    height: 30%;
    margin-left: 25%;
}

.inputuom {
    padding: 10px;
    width: 70%;
    display: flex;
    align-items: center;
    margin-left: 10%;
}

.inputuom span {
    font-weight: 400;
    width: 20%;
    
}

.inputuom input {
    margin-top: 10px;
    margin-left: 10px;
    padding: 10px;
    width: 80%;
    height: 50%;
    outline: none;
    border-radius: 5px;
    background-color: white;
}

.oumbtn {
    display: flex;
    align-items: center;
    justify-content: center;

}

.uomsavebtn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    margin-top: 20px;
    margin-left: 10%;
    background: rgb(144, 155, 237);
    color: white;
    padding: 15px;
    font-weight: 500;
    border: none;
    border-radius: 10px;
    margin-top: 15px;
    cursor: pointer;

}

.modaldeletebtn{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 10px;
  

    
    
    
}

.deletebtn{
    background-color: white;
    border-radius: 30%;
    font-size: 30px;
    color: black;
    width: 90px;
    margin-top: 5px;
}